language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
    allow_failures:
        - php: 7.0

sudo: false

install: travis_retry composer install --no-interaction --prefer-source

before_script:
  - cp .env.example .env
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction --dev
  - chmod -R 777 storage
  - mysql -e 'create database muzza.test;'
  - php artisan migrate:install --no-interaction -vvv

script:
  - php artisan migrate --no-interaction -vvv
  - php artisan db:seed --no-interaction -vvv
  - vendor/bin/phpunit --verbose

after_script:
  - ls -laR app/storage
  - cat app/storage/logs/*

notifications:
  email:
    - ovcharenkovv+travis@gmail.com